<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="css/main.css" type="text/css" charset="utf-8" />
  </head>
  <body>
    <header>
      <h1>Task #2</h1>
      <h2>Text editor</h2>
    </header>
    <main>
      <div id="app">
        <button v-on:click="bold">Bold</button>
        <button v-on:click="italic">Italic</button>
        <button v-on:click="underline">Underline</button>
        <button v-on:click="list">List</button>
        <button id="show-modal" @click="showModal = true">Attach Files</button>
        <modal v-if="showModal" @close="showModal = false">
          <h3 slot="header">Attach Files</h3>
          <input slot="body" type="file" @change="readFile" />
          <form slot="body" v-on:submit.prevent="submit">
            <input type="text" placeholder="https://example.com" v-model="url" />
            <input type="submit" />
          </form>
        </modal>
        <div contenteditable="true" spellcheck="false">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur explicabo inventore
          laborum cum, similique vero dolorem adipisci animi dignissimos tenetur illum consequuntur
          nemo soluta dolores ut magni corporis rem dicta.
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
